body {
  min-width: 1100px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* Inter - Regular */
@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

/* Noto Serif - Regular */
@font-face {
  font-family: "Noto Serif";
  src: url("fonts/NotoSerif-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.header {
  position: relative;
  background-color: #ffffff;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  padding: 30px;
  background-image: url(images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header_subtitle {
  font-family: "Times New Roman";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #ff976b;
}

.span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #ff976b;
}

.header-title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  max-width: 729px;
  margin: 183px 0 0;
}

.logo {
  position: relative;
  width: 165px;
  height: 39px;
  left: -50px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  margin-left: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000;
}

.header-description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin: 28px 0 0;
}

.header-image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header-info {
  position: absolute;
  bottom: 40px;
  left: 80px;
  background-color: white;
  border-radius: 12px;
  padding: 20px 40px;
  width: 464px;
}

.info-text {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  margin: 0 0 16px 0;
}

.info-text:last-child {
  margin-bottom: 0;
}

.header-title::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #838383;
  margin-top: 32px;
}

.header-address {
  position: absolute;
  bottom: 40px;
  right: 80px;
  background-color: white;
  border-radius: 12px;
  padding: 20px 40px;
  width: 464px;
  color: black;
}
.reservation {
  background-color: #ffd6c5;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 120px;
  position: relative;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
}

.reservation__title {
  font-family: "Inter";
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
  color: #000000;
  text-align: center;
  margin: 0 0 80px;
  font-style: normal;
}

/* Formulario */
.form-reservation {
  max-width: 385px;
  margin: 0 auto;
}

.fieldset-reservacion {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.form__label {
  font-family: "Inter";

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.fieldset-reservacion input {
  font-family: "Inter";
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  padding: 8px 12px;
  border: 1px solid #838383;
  border-radius: 4px;
  margin-bottom: 32px;
  box-sizing: border-box;
  font-weight: 500;
  font-style: normal;
}

/* Checkbox con texto alineado */
.form__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-family: "Inter";
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  cursor: pointer;
  margin-top: 20px;
}

.form__checkbox-input {
  margin: 0;
  border: 1px solid #4f4f4f;
  border-radius: 2px;
  width: 20px;
  height: 20px;
}

/* Botón centrado y del mismo tamaño que los inputs */
.form__button {
  background-color: #e96e3a;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  padding: 13px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  width: 100%;
  height: 60px;
  margin-top: 0px;
  margin-bottom: 0;
  font-style: normal;
}

.form__button:hover {
  opacity: 0.8;
}
.footer {
  background-color: #d35722;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
  padding: 60px 100px 60px 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
}

.footer__logo {
  width: 185px;
  height: 39px;
  z-index: 2;
}

.footer__circle {
  position: absolute;
  top: -170px;
  left: -170px;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  background-color: #e96e3a;
  z-index: 1;
}

.footer__social {
  text-align: left;
  z-index: 2;
}

.footer__social-heading {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: white;
  margin: 0 0 20px;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin-bottom: 16px;
}

.footer__social-link {
  color: white;
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.footer__social-link:hover {
  color: #ffd6c5;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__copyright {
  position: absolute;
  bottom: 60px;
  left: 80px;
  color: white;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}
